appdirs==1.4.4
asgiref==3.7.2
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
build==0.10.0
CacheControl==0.13.1
certifi==2023.7.22
charset-normalizer==3.2.0
cleo==2.0.1
colorama==0.4.6
crashtest==0.4.1
cssselect==1.2.0
decorator==5.1.1
Deprecated==1.2.14
distlib==0.3.7
distro==1.8.0
Django==4.2.4
django-widget-tweaks==1.4.12
dulwich==0.21.5
fake-useragent==1.2.1
filelock==3.12.2
httplib2==0.22.0
idna==3.4
importlib-metadata==6.8.0
installer==0.7.0
jaraco.classes==3.3.0
jsonschema==4.17.3
keyring==24.2.0
lxml==4.9.3
more-itertools==10.1.0
msgpack==1.0.5
multidict==6.0.4
netaddr==0.8.0
packaging==23.1
parse==1.19.1
pexpect==4.8.0
Pillow==10.0.0
pkginfo==1.9.6
platformdirs==3.10.0
poetry==1.6.1
poetry-core==1.7.0
poetry-plugin-export==1.5.0
ptyprocess==0.7.0
pyee==8.2.2
pyparsing==3.1.1
pyppeteer==1.0.2
pyproject_hooks==1.0.0
pyquery==2.0.0
pyrsistent==0.19.3
pywin32-ctypes==0.2.2
rapidfuzz==2.15.1
requests==2.31.0
requests-html==0.10.0
requests-toolbelt==1.0.0
self==2020.12.3
shellingham==1.5.3
soupsieve==2.4.1
sqlparse==0.4.4
tomlkit==0.12.1
tqdm==4.66.1
trove-classifiers==2023.8.7
tzdata==2023.3
urllib3==1.26.16
VakSmsApi==1.0
virtualenv==20.24.3
w3lib==2.1.2
websockets==10.4
wrapt==1.15.0
yookassa==2.4.0
zipp==3.16.2
