{% extends 'base.html' %}

{% block title %}
    Login to Site
{% endblock %}
{% if form.errors %}
    <p class="alert alert-danger">
        Something is not right
    </p>
{% endif %}
{% block body %}
    <!-- Pills content -->
    <form method="post">
        {% csrf_token %}


        {{ form.as_p }}

        <input type="hidden" name="next" value="{{ next }}">

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
        </div>
        <p>Not a member? <a href="{% url 'app_auth:register' %}">Register</a></p>
    </form>
    <!-- Pills content -->
{% endblock %}