{% extends 'base.html' %}
{% block title %}
	AJAX
{% endblock %}

{% block body %}
<div class="col-lg-4">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" class="form-control mb-3" id="username" placeholder="Username">
    <input type="password" class="form-control mb-3" placeholder="Password">
    <input type="password" class="form-control mb-3" placeholder="Repeat Password">
    <input type="button" value="Submit" class="btn btn-primary">
</form>
</div>
{% endblock %}