{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'admin/img/img_1.png' %}">
    <link href="{% static 'admin/css/base.css' %}">
    <link href="{% static 'admin/js/core.js' %}">
    <title>{% block title %}
        Base
    {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<body>
<nav class="px-3 navbar navbar-expand-sm bg-body-tertiary my-0 my-md-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        {% if user.is_authenticated %}
            <ul class="navbar-nav justify-content-end dropdown-menu-end me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    {{ request.user.profile }}
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                           href="{% url 'my_app:profile' %}">Profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           href="{% url 'my_app:popolnenie' %}">Balance: {{ request.user.profile.balance }}</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link justify-content-end" href="{% url 'app_auth:logout' %}">Logout</a>
            </li>
        {% else %}
            <ul class="navbar-nav justify-content-end dropdown-menu-end me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link justify-content-end" href="{% url 'app_auth:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link justify-content-end" href="{% url 'app_auth:register' %}">Register</a>
                </li>
            </ul>
        {% endif %}
        </ul>
    </div>
</nav>
<div class="container">

    {% block body %}

    {% endblock %}
    {% block javascript %}{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>